
<!DOCTYPE html>
<html>
<!-- Autor: Laureano Grillo-->
<head>
  <meta charset="utf-8">
  <title>Primera Entrega</title>
  <link href="css/styles.css" rel="stylesheet">
</head>
  <body class="text-center">
    <main class="form-signin">
      <a href="https://www.coderhouse.com/"><img  style='width: 100px;'src="img/coder.jpg"></a><br><br>
      
      <div class="form-floating">
        <label class="form-label-title">Bienvenido al sistema de turnos</label><br><br>
        <label class="form-label-subTitle">Para consultar sus turnos disponibles, por favor seleccione consultar</label><br><br>
        <input type="button" class="form-button"  onclick="calculandoTurno()" value='Consultar'><br><br>
        <label class="form-label">Recuerde que todos los datos solicitados son obligatorios</label><br><br>
      </div>

      <script src="js/functions.js"> </script>
    </main>
</body>
</html>

 
 